* {
  /* border: dotted 1px red */
}

ul {
  display: flex;
  background-color: #DDDDDD;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  text-align: center;
  width: 20%;
}

li {
  padding: 1rem;
  border: 0.5px solid #d2cece;
  list-style: none;
  
}

p {
  margin: 0cm auto;
  color: black;
}